body {
    background-color: black;   
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18pt;
    padding: 2rem;
    width: 100vw;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    justify-content: space-between;
    left: -40px;
    top: 100%;
    padding: 1rem;
    gap: 1rem;
}

a h1 {
    font-size: 18pt;
}

.nav-links:link, .nav-links:visited, .nav-links:active {
    color: #fff;
    text-decoration: none;
    opacity: 0.4;   
}

.nav-links:hover {
    cursor: pointer;
    opacity: 1;   
    transition: opacity 400ms ease;
}

.nav-links:hover .submenu {
    display: block;
} 

main {
    width: 480px;
    height: 600px;
    overflow: hidden;
}

.bio-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 2rem;
}

#text-container {
    position: relative;
    padding-right: 5px;
    color: rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: justify;
    max-height: 480px; 
    overflow: hidden; 
}
  
#cursor {
    position: relative;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 16px;
    background-color: white;
    animation: blink 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
  
@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
  
/* #cursor {
    grid-row: 1 ;
    grid-column: 2;
    animation: flash 1s linear infinite;
    background-color: white;
    height: 2px;
    left: 60px;
    position: absolute;
    width: 10px;
    z-index: 2;
} */
/* #cursor2 {
    animation: blink 0.5s infinite;
} */
  
.projects-inner {
    /* display: grid; */
    position: relative;
    /* overflow: hidden;
    justify-content: center;
    align-items: center; */
    height: 320px;
}

.projects-wrapper {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 4rem; 
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.nav-btns {
    display:flex;
    justify-content: space-evenly;
}

.projects-nav-button {
    border: none;
    background-color: black;
    color: #fff;
    opacity: 0.4;  
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.projects-nav-button:hover {
       opacity: 1;  
}
  
#card:hover > .card::after, .card:hover::before {
    opacity: 1;
}
  
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 320px;
    width: 360px; 
    margin: 10px;
    display: flex;
    overflow: hidden;
}
  
.card:hover::before {
    opacity: 1;
}
  
.card::before, .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}
  
.card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
}
/*   
.card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
} */
  
.card-content {
    background-color: rgb(23, 23, 23);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}
  
h1, h2, h3, h4, span, p {
    color: rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    margin: 0px;
}

.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}
  
.card-image > i {
    font-size: 6em;
    opacity: 0.25;
}
  
.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}
  
.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}
  
.card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}
  
.card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
}
  
.card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}

.card-info-title > p {
    color: white;
    font-size: 0.75em;
    margin-top: 10px;
}

.carousel {
    display: grid;
    position: relative;
    overflow: hidden;
    max-height: 480px;
}
  
.carousel-inner {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 4rem; 
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.carousel-card {
    flex: 1 0 100%;
    margin: 10px;
    height: 480px; 
    display: flex;
    overflow: hidden;
}

.caro-link:link, .caro-link:visited, .caro-link:active {
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
}

.caro-link:hover {
    opacity: 0.5;   
    cursor: pointer;
    transition: opacity 800ms ease;
}
  
#prev-button, #next-button {
    border: none;
    background-color: black;
    color: #fff;
    opacity: 0.4;  
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#prev-button:hover, #next-button:hover {
    opacity: 1;
}
 
#article-title, #author-list, #abstract {
    text-align: justify;
    max-height: 480px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#abstract {
    -webkit-line-clamp: 19;

}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 3rem; 
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-link:link, .footer-link:visited, .footer-link:active {
    width: 20px;
    height: 20px;
    text-decoration: none;
    opacity: 0.4;  
    color: #fff;
    cursor: pointer;
}

.footer-link:hover {
    opacity: 1;   
    transition: opacity 800ms ease;
}

.hidden {
    display: none;
}

@keyframes flash {
    from, 50%, to{
        opacity: 1;
    }
    51%, 99% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0px 10px; 
    }
    nav {
        font-size: 14pt; 
    }
    main {
        max-width: 300px; 
    }
    h2, h3, h4 {
        font-size: 1em;
    }
    p {
        font-size: 0.85em;
    }
    .carousel {
        display: grid;
        position: relative;
        overflow: hidden;
        height: 450px;
    }
    .carousel-inner {
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 4rem;
        gap: 4rem; 
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .card, .carousel-inner {
        transform: scale(0.8); 
    }
    .projects-inner{
        transform: scale(0.8);
    }
}
  